/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Custom properties
	# Reset
	# Typography
	# Elements
	# Links
# Accessibility
# Layout
# Forms
# Header
	# Main navigation menu
# Content navigation
# Footer
# Infinite scroll

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
/* Custom Components */
 /* @use  */
@use "layouts";

@use "base";
// @use "layout";
@use "components";

@use "pages";

@import './base/mixins';

@import './base/variables';

//@use 'variables';

// @import '/src/styles/_nav.scss';

// default margin of body is 8px fix;

// html{
// 	overflow: hidden; // parallax
// }

// html, body
// {
// 	scroll-behavior: smooth;
//     margin: 0px; padding: 0px;
	
// }

// body 
// {
// 	background-color:white;
// 	//#CFB4C3
// 	// #6874d0
// 	height: 100vh;
// 	width: auto;
// }


.main-container {
	position: relative;
	background-color: black(100);
	@include flex-container;
	overflow: hidden;
	margin: 0 auto;
	padding: 1.25rem; // px-5 (5 * 0.25rem = 1.25rem)
	width: 100%;
	//min-width: 320px;
	//background: rgba(0, 255, 0, 0.1);

	@include responsive('sm') {
		padding-left: 2.5rem; // sm:px-10 (10 * 0.25rem = 2.5rem)
		padding-right: 2.5rem;
	}

	.inner-container {
		width: 100%;
		max-width: $max-w-7xl;

			//outline: 1px solid red;
			//border: solid black 2px;
	}
}


// _base.scss
// *,
// *::before,
// *::after {
// 	box-sizing: border-box;
// 	margin: 0;
// 	padding: 0;
// }

// .nav-list {
// 	display: flex;
// 	list-style: none;
// 	margin: 0;
// 	padding: 0;
//   }
 
// .nav-link {
// 	/* @include nav-item; */
// }
  /* .nav-item.highlighted { // Override hover color for a specific item
	@include nav-item($hover-color: red);
  }
  
  .nav-item.active { // Apply active styles
	@include nav-item;
	font-weight: bold;
	border-bottom: 2px solid #ddd;
  } */
/* 
.navbar{
    @include 
     
} */

