.Loader-container {
  width: 100%;
  height: 100vh;
  /* Full viewport height */
  position: relative;
  margin: 0 auto;

  /* For z-index stacking if needed */
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //overflow: hidden;

  // .StarfieldBackground {
  //   position: absolute;
  //   display: block;
  //   inset: 0;
  //   z-index: 0; /* lowest layer */
  //   pointer-events: none;
  //   width: 100%;
  //   height: 100%;
  //   margin: 0 auto;
  //   //padding: auto;
  //   //overflow: visible !important;
  //   //overflow: hidden; /* keeps stars inside container */
  //   top: -7%;
  //   left: -25%;
  // }
  .synthwave-container {
    position: absolute;
    // position: absolute;
    top: -7%; // portfolio has bottom -- 8% to match it we have -7% top
    bottom: 0%;
    left: 50%;
    /* center the starfield */
    width: 125%;
    scroll-snap-align: start;
    // width: 100%;
    height: 100vh;
    transform: translateX(-50%);
    overflow: visible;
    z-index: 1;
  }

  .starfield-container {
    position: absolute;
    inset: 0;
    top: -7%; // portfolio has bottom -- 8% to match it we have -7% top
    left: 50%;
    /* center the starfield */
    width: 125%;
    /* wider than loader-container for full coverage */
    height: 100vh;
    transform: translateX(-50%);
    /* center horizontally */
    background: rgb(10, 10, 10);
    overflow: visible;
    z-index: 0;
  }

  .starfield-canvas {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  canvas {
    //top: 8%;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
  }

  &.tron {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 300%;
    z-index: 1;

    background-color: #0a0f1c;

    background-image: linear-gradient(to right,
        rgba(0, 255, 255, 0.35) 2px,
        transparent 2px),
      linear-gradient(to bottom, rgba(0, 255, 255, 0.35) 2px, transparent 2px);
    background-size: 40px 40px;

    box-shadow: 0 0 20px #00fff7, 0 0 60px #00fff7 inset;

    transform-origin: bottom;
    transform: perspective(1200px) rotateX(58deg) scaleX(4) scaleY(4);

    animation: tron-grid 2s linear infinite;
  }

  & .tron::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 15, 28, 0) 50%, #0a0f1c 100%);
    pointer-events: none;
  }

  @keyframes tron-grid {
    0% {
      background-position: 0 0, 0 0;
    }

    100% {
      background-position: 0 -100px, 0 -300px;
    }

    /* move horizontal lines */
  }
}